---
---
<div
  class="prose dark:prose-invert
  prose-h1:font-Verdana prose-h1:text-2xl prose-h1:leading-snug
  prose-h2:font-Verdana prose-h2:text-xl prose-h2:leading-tight
  prose-h3:font-Verdana prose-h3:text-l prose-h3:leading-none
  prose-h2:mt-2 prose-h1:mt-6
  prose-a:text-blue-600 prose-p:text-justify 
  prose-img:rounded-xl !border-0
  prose-p:mt-3
  prose-p:mb-3
  prose-base
  leading-snug
  font-Arial
  max-w-none">
  <slot />
</div>